* {
   /* box-shadow: none !important;*/
    /* border-radius: 0px !important;
   font-size: 13px !important;*/
    /*
 font-family: ProximaNova, -apple-system, BlinkMacSystemFont,  "Segoe UI", 'Open Sans', Roboto, "Helvetica Neue", Arial, sans-serif !important;
   color: #666;*/
    opacity:1;
}
.z0>.L3 {    box-shadow:none !important; }
.gb_Va {
    border:none !important; 
    background-color : rgba(255, 255, 255, 0) !important;
}
.bqe {font-weight:400 !important;}
#gb > [class^="gb_"] { 
   /* background: none repeat scroll 0% 0% #0072C6 !important; */
    background: linear-gradient(45deg,#FBCA88,#EF69AD) ;
}
.brC-brG-avC{
   /* background: none repeat scroll 0% 0% #0072C6 !important; */
    background: linear-gradient(90deg,#EF69AD,#FBCA88) !important;

}

.aic, .aeN .ajl {     border-right: 1px solid #e5e5e5; }
.brC-brG {border-left:none !important;}
.brC-brG-avC {border-bottom:none !important;}

/***/
.yO {
    background: none !important;
    color: #333 !important;
}

.brC-brG-a1P-K0, .brC-brG-K7-K0.brC-brG-K7-axY { color:black;}

.zF, .bqe, .bq3 {
    font-weight: 700;
}

.y2 {
    color: #999 !important;
    font-style: italic;
}


.aAA.J-KU-Jg-K9 {
  /*  border-top: 1px solid #e5e5e5;*/
}
.Zs .zA { background: linear-gradient(90deg, rgba(119,177,121,1) 0%, rgba(160,200,161,1) .5%, rgba(255,255,255,1) .5%, rgba(255,255,255,1) 100%); }

.aRu {     margin-left:15px !important; }

.yP {     font-weight: 400; }

.bx0 {
    background: #a9d2d2;
    border-radius: 25px;
    padding-left: 5px;
    padding-right: 5px;
}
.a8i.bii {
 
    border-left: none;
    border-right: none;
}

.gb_qc .gb_Ne {     background: white !important; }
body {background-color:white;}

.Ht {    background: linear-gradient(45deg,#476892,#59355D); }

/******** Icons ******

.qj { opacity:.8;}


.aHS-bnt .qj, .nZ>.aHS-bnt .qj, .aHS-bnt .qj::before {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAADCElEQVQ4y62VTWhcVRTHf+fe+968mTTTmbHWZJpgmtBimiZpkUIVQVwERARxU0RMEQQRRLGIpWThBy1WEZRS0FUXCkEEVwpSXShEEbfVJgERWtvUYJuZNJPMZD7evONiMtMkmglI7+6ed/+/8845/8uFu7xkuwMvnJk1V+fLz0WRprK74h9Pnh4M/zfw6ZPTu/NL5QvlSv1JVcVz9pfOHf74xXMjfwAsLCyMWGtn0ul0uC3widd+fXy5VL0QhlE2UlBVVEFEConAe+WLd7LXqtXq1yLyWU9Pz8tNndsMOv72bPB3rnJ2uVh5NYrUNLPq2vco0uT99/FpsVQJrdF8qbT6yXr9BuBTb/x24MbN1claWD+kTQK6oZCDe30mxjMUlovu1IdT1dxKLPWvHr747oy5Ol97qVypfaCqCQU8CyeOpfnx0gpTlyooMNQXY2I8TbFY4sTZ75lbEIwLwkRH53u93anTX50fq8rxM5e5NledrNbCZ2VdV5NxePP5NN27Ypz/Mk9+mRbs9fd/4PotEBsgxgfj4fvBVGanPyYPfX4zkPniovfnSiC6cUbJeMTEMx10ZzxqdaVYLHPyo5+4kTctmFgfMY6+0S76hrsG5Mh3pUCMWTSF1cCbzuHyISCNIaiSjIdMHIsTdyGnzv3M3KLF2GAN6JHJJjk0tp/Unp0YJwNy5NuVQIxdVNVAAPtXAW/2NlJpzEOBZBASLU1z/VYF4xqwIBFn6NEB+g7vAWlUZpwMuGitbU1rhNkk4e4O3O953JUiqOH2qiOyg7jYFRChf7SXocf24Sf8lg9attG1SNMmAqi1VAfvpdbTiXc5h82FiPHo2vcAQ4+kSWXvOEU3+dhtDqzfa2dA+WiW+PwSwx2W3gOpVnn/BWsZW7e6f6r0J+Dgg/fgW9mYbAuJiyIQc+eESOPeZjzlcNqSiVm0XdLt/tBHGU4Je3c4EKFdSzbHFHCE9Ug9UxLVoL8DhlMW35otRW1WFFXDkgCMflM4OppyD+9P2rYKbRPXqD7z1kji4t1+AfgHZswoRSUZT1QAAAAASUVORK5CYII=);
}



.aHS-bnw .qj {
     background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAcBJREFUOI3dkc9qE1EUxr9zJtOQZNrpTZpqazeCQhe6EmpBNy6FtlCy0Gyagm/Q99B9Gpo/FCq4cCn4BoIrfQD/QAy24CQzSZsWcu/pqpCxM8xAN+JZXe75zu98hw/4LypoqXbQKrXTaDPpkPQMRlIpOUng7xfXJW+y4pjsoFFcuzGQbFRoDrekgEXLwvbNgSzbUhDQrBBYKon6q4d/4L5li05DXYHSjqzTEpYBQLryyzrjT2AMpmVGS8F95VeBqVCYaSwzVEFJ5kMb81PnLNMdGSPkkv7QgC/w/ppDABi11XNN0sSK3EY24bQLwHTpdwa069T6HyOBACD1pbyfO/8ApR+RIieS5skQnvV5NlfY4BfdcWhRnINRyz3SK6gi91fjDKAeH87t9nei5mJT1mw9gH39n2xACA/j5iKBQb20KrZeuIqMTtijE/YAQGwAlln0mwv30zvMYEscKtMEkO/UkyHt8ZD25Bv1aAIYl8ow2EwPZPOSJkbLD/5ia15za17HqXkd+5wfy0/+SsYYsnQ17uxQDRrle6OmOg5axddxmqAz/8Y/UMf9ffduIlDeYSZoqCdJuqCjnko9KrZ/vS4BRyOYXflzxlkAAAAASUVORK5CYII=)
}


.aHS-bns .qj {
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACVElEQVQ4jX3TX2jNYRzH8ff3e55zsLGt44TGxFBC/kzCLpQ/LX+K0blxJTeU0twtly5c+dciSZQSF+cgcaPckig1/9oSy8h2NtuSP7PO+T3P14Xzm0PjuXountf3eT71eSSXzzsgBRQBBVx57wCajx471tO6/Xhh7ZoxIJTPRvxaTv+Hm850ZFCOzL9z78REGCjqv/Dsxw+YNPLlMsFSGkUHVp88s+FvDKibCC+9fmVyTdeHaxL5FgmGJRNMGv7SDjyoxPGAcbzk+tV09bv+Ojc6dlN8WBxjogCwadGNW5nq/kLoPHxopDwgiiO4lafPN9a9eHs5+f3HwwkwOHXTn3Uvm1IYbl9x9sLCchwXP5+qT5/aUNlKsLpKLBkDp0jJQ8LqRay1um+gLXYKMLPzKShZglGJtT7gDgQk6TEVxPuDUvLzULLpl13jEaL6+4+WECw9jn1A5wYS+wydFqHrDBKCFv06SyiYpRfevtsIpBzgksXRmsqbk9kSskIRFwGCLjCkWCJ6lAQM8UZIuVnAawUCnpHKzNL0GxuKZjy6zZBMQLxhTqFkQ0BQIHTt39tDFIYAmCGI/MaCx2oFSYDUlnGwofctG7uBlAKprw0NRVO9hFNkMIBVYBQBsIB9VQgGKhcH1zRpXOUIoG9z8ymi0B2GFf8q8Scm4J+nsAHAeP2xeX1H3EaNu927ecvnscz0Xaba43OKf5KEUWA0ED1O4W8JGG++zZmzu3dHS9xEJ7l8vqqy28vPXZpaNVho18jvER/mlTO/QyU3sGpVx9vszqHK//MTqowkDJleiqwAAAAASUVORK5CYII=);
}


.aHS-bnu .qj {
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABaUlEQVR42mNkoBAwgoigpl4RRgZGdlI0/mf4/3NdXfEbxpYLj92B/G2MjIxMJBkABEAqAuyC8hP3zXk5WHqAhtgQqfnCrz//qppM5LczSncdns7MxLj5UYnNtrozD4PYWJg6gAap4nD2o79//9deefxpybl7Hy1+/P4XBjLgBFCDOdDUvZysTCXGygJXtWV5M5mYGGuB4SIC1fgN6ODOOy++dJ+6/UH+0/c/7QyMjP5Ap5wCGXAGaIAx1Gn/gNRifi6WGgs1wc9KYtxVQL7q688/C49cf/f1xYefjUB+KlA9K1T9UaABR84zMjIYoPnxG5CaIM7L0sHJ+PPrw8/MmUAXNAM1CqKp2wcy4BLQAF0cgfUKSD0DajRgwKqAYRPIC5eBCnRITUBQAzYwynQdvgoMEC2yDGAAGgB0wTWgCzTJc8D/9RR5ARhGaxmlOw+mMTAydQFzBUl5AWj95/9/fycwkul3OKDYAACxTps5uqLVzQAAAABJRU5ErkJggg==);
}

.aHS-bnq .qj {
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAMAAABhEH5lAAABd1BMVEVUbnpTbnlXcHwAAABddoF3jZdbdYBziZNac39uhY9ed4J6j5lYcX1lfYhVbnlgeIOOn6gArPxXcXwzsOhfeIOwvsUDqPMDqfRZcn4DqfNUbnpUbnpUbnpUbnpUbnpUbnpUbnpUbnpUbnpUbnpUbnpUbnpUbnpUbnpUbnpUbnpUbnqwvsWwvsWwvsWwvsVUbnpUbnqwvsWwvsWwvsWwvsWwvsWwvsWwvsWwvsWwvsWwvsWwvsWwvsWwvsWwvsWwvsWwvsWwvsWwvsVUbnpUbnpVbXiwvsWwvsWwvsWwvsWwvsVWbHdDepQArv+wvsWwvsWwvsWwvsWwvsWwvsWwvsUEqPICqfUDqfQDqfSwvsWwvsWwvsWwvsUDqfQDqfQDqfSwvsWwvsWwvsWwvsUDqfQDqfQDqfQDqfQDqfQDqfQDqfQDqfQDqfQDqfQDqfQDqfQDqfQDqfQDqfRUbnpOcoMDqfUDqfRJdooBqvcDqfQDqfQDqfQDqfSQZkjtAAAAfHRSTlMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFjZ7u3vwymKMzQ5spI2arYFYaKfPmgGToJ/gDI9ZmQnbbaztEYjOzoXZ6cDftPP0FE4PhAdMTAtISAMJrLDP3jJxcglst4vTE0FJ4BPwsuCKVAqJBmDbcQgiRmiJnmzvXQXI8xihQAAAAlwSFlzAAAASAAAAEgARslrPgAAAPFJREFUGNNjkJKWkYUDOXkFBkYGaUUlJWUoUFJRVWNiYJBVZ2CGAUYGDU0toJAyi7aOLgToseprGoCE2AyNjEHAxMSUHSrEYWZuAQGWnFAhLitrGzCwteOGCvHYOzhCgBOvs4srH1CI383dw8PDEwi8BLx9fAWBQkJ+/gEBgUHBwcEhwqFh4RFAIZHIqOgY3RBRZjHx2LiamnigkESCYWKSWbKomHhKalp6TQZQCOp6oEhmlnh2XA5cSBwskpOaK44QyssHimSmiIvBvC0pXlBYlAUSYWaQLoYETklpTXhqGVCEmQEahDLlFZVV1eLiQA0AJNQ7ATAiKAwAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTYtMTEtMTZUMDQ6MzE6NDctMDY6MDBqfPfqAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE2LTExLTE2VDA0OjMxOjQ3LTA2OjAwGyFPVgAAAABJRU5ErkJggg==);
}


.aHS-aHO .qj {
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAyVBMVEUAAABEREBEREBEREBEREBEREBEREBEREBEREA/UTwA/wBKo05Lp01KfUhLrlBMr05Pr09MqE9LrU9MrVBLr09Fh01kZGJQrlBVqlVLrFBLrlBOok1KrVBMr09NsU1KrVBLrlBAmj9Lo05MsE5Jr05Kr05MrVFMrVBKpk9JoU1KqU1MrlBKrE9Mp09NrU1Nr09NrFJKrVBLp09LkkpKqU1Mr05Kp09Lp09KrU5LrlBJmExMqU1LrFBMrVBTnVJOsE5MqU9Mr1BMrlA6VR5KAAAAQHRSTlMAAQQFCQoCDQ8OAYDMHHnJEP5L/koaBBMDY2Ik4aQh4qUGf2E08zL0qnb9PDv1LGA78rw39NDzzjhfRvFg8Q4N/Hy62AAAALlJREFUGFd1kNcSgjAQRTcQir1gwYIdRUXFLlbg/z/KHYKAoHnYnDkzye5dgP+HcDxHQgocFShJkCjJkhjSL8eIRC6DlGW/hC6XL4jFUhmRE0LnVKpFV6kh8/UGQFP1XQtdG7BTp6upvf5gOGJujJMCTHRXm848Y75gTqQ8vl+iNVeOsUa3wakEP5G19Xb7g3dkTg4SmSfnfNFdxf5KdL3dwXrYiURPvF9xR9PJY4kiB3xqk1hjG//QG74DEWlytxXZAAAAAElFTkSuQmCC);
}


.aHS-bnv .qj {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAV1BMVEUAAAD9VjFERED7VjFERED2VTJEREBERED/VjL8VjL7VjL+VjL5+fj4VTP1VTP09PT+/v7////19fX0VTP5VTL/x7v/5+P/Xz7/r5//+vn/d1r1qZr/nYj0UPYTAAAACHRSTlMAhwGIBIkJBXCyVrUAAACMSURBVBjTRY/bFoMgDAQBsQYjCpje+//f2U3Qdp+Y2RxO4hziyeLdEeU0p58B85IXtpnQed3WQhVmiMZtb1xVsIzu31e8coKQo6+87kKOUtYeKZhkiFm4GutPpBPc+7a1QiqQk68qvAnj292WhXkYP1/gYKvzG1w/ylGPGSQL27nhMoFDHFM/P8QpfgESpgoguEPnawAAAABJRU5ErkJggg==);
}


.aHS-bnx .qj {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABL0lEQVQ4je2TPS+EQRSFn5ksIbYVohCFBP9AQ0E0olJJRPgJeoVa5VdIdBo6yYbE6nU+KoQlCiQS+zHnKPbdr7dUKdxmzty598w9kzOBXCwdPWwDm4Tw3nNgT9ieO10df+xOF/IE1Wp1BNg7X5s87M7PH95dAsV8fQBYPq6UJM1KQlJBkmQr2yMJoB9oAMp6y+X1qcXWBNPAQIc2gJ2/rEWSKfIYQARA6QolgkW0QAmUiEpEN7FzGOm+LQFg5aTyPD2URosxcfEGUmJhGL7qibOXBpLZmuyj/Jq4+dT35cbMYM8jhhAhmBDdnMvNNURDiITorEaEGNuaOuiX8U/wxwhcS+5yFpDsHkc3DAZs11q5tpFcr+5cf8R9W0WSsBKlp+wjSVji4LaBoYbSbqvvByf6qjWxsKihAAAAAElFTkSuQmCC);
}


.TO>.aHS-bu1 .qj {
    background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACXBIWXMAAAsTAAALEwEAmpwYAAABWWlUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iWE1QIENvcmUgNS40LjAiPgogICA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPgogICAgICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIgogICAgICAgICAgICB4bWxuczp0aWZmPSJodHRwOi8vbnMuYWRvYmUuY29tL3RpZmYvMS4wLyI+CiAgICAgICAgIDx0aWZmOk9yaWVudGF0aW9uPjE8L3RpZmY6T3JpZW50YXRpb24+CiAgICAgIDwvcmRmOkRlc2NyaXB0aW9uPgogICA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgpMwidZAAAGrElEQVRIDV1VbWhb1xl+zzn3SrqWLF1JV1Js2XHibEloWNIlJWmGS1LYn/0o6aAx7b8sa0so648wGK03xt0HdAtrO1bKaH5k62AfxHRhzWAMNrwteC2khHZZbadt4igflmx9S1fS/Txn77mOQtaDrq179J7ned/nPOc9BD43zAWhmI8Tf3P6LfXVd44dMFL0UCSi7I6pROUCoG/7Dd8Xl6/d7V3+yTe235Sx588LtrT0A2GaJt9cu/mXPPhiLiwg+OMSnLx2oXLSyESei6rsoDaSDBmDe0spriI8gMGgV7Md7893q/bPv//0xEcS6/j582x+djYY4t4nkBnMzpLg5bdWdxe3Jn6ZyaaPOi6B6kYVXKsVEK/DE5oiPA+BPSAimmIJPUeNvA52r2n3ev4PTz+Rf+XzJCHBMPPv/qY0UzBGLozqhnHndpmr/XKQpmWmaw5NjKhw4/o1KBYnIT6qQ6tji6oV4TU+zjVjSs3ncK6+8fbpJwonkYSbQlCTEE6Gmr98rvRQIaf9Kzqaya6VbrpFuqpO6D1SKBQgl98CicQoLK+swNTWKUilktDptKBZr0HpThk+WY/73dgXyNbpCdbc2Hjz28cK3wolEoLck2hB+ekfdy8k07mZ8q2bznT00+j2AoOp7TuhUNgCTGGgKgqsra2BoqqQzWRBCAG+70O9XoVbpRtw5TMvWFd20bEtBmk16yfmnpp4Wya/KdHvbr2QNXJvVqu1YJJ8SvdMUTI+MQ1GNguqqoRA0WgUrl69CpRS2LVrF3DOgWB+jutCp92GSvkO/PO/SJndp6jgXL9bqx58/dk9DXr49L81SsjzaD3Q3ArfOU5IvjABCqMI7IZAQ0coWAVjbPgaVsGDAGMEGLk8HNjBmFUtcaLGd2Ti+jMykB6azh0CYPvajSpMJi2lUMihByk4jgOe54cgMlBm/OAznHOxAsexwXUDGC+kyNRoL7AGmJiAYzKGMpXMqLEEoA39ybxGIpEYeLjI8zzo9/shkQSWmauov3yGVcgkBoNBKGGAlSgoztY8I26/DUEgHjr12rUiKkG2BUinxwKuxRh0u1a4kZJdEsjNTCaT0Gw24dKlS+igFFq1iBmj9p1OSCATcF0PXIdDQmOU+RYELDmuELFNQQ3jjutAfoSR6kYZbt+6DTOPPRbKIV0igeRmLi4uQr3RgHKlAsvLyzA2NhYSSPAjR45Ao9FEN63C/kceJQp44MtFAFEFA3x59K2+C9liDjKZTCiPrEAOCdBGl6R0HToffYhyBLDv4YfDqvL5fFihTMIwspBOJ8HDpLiIgMB1+BEKbmQLo6BrCxBAIBbFPUD9pR1lElIix7ZhcnISDu79EgSEwRf37AHpnuGQ+mMPhHh0BMo1WzicEQFuzwuCpjLoBx8G7gB6HmON9gAKGY4EHAlIuJmSCJnCzFO4F9iGwk2VSUlyWeHmfwEKFVDvBiiJRhkXN5dq7Dpdr3uLA8vqcBaja00IKGWYzeYplS6R5W9mKMLKZHUSdLg/8nd52Bgj4PoCSnWASCQKvue/v3hmd5defPWRFdv2/joaT8IndYU3uz7ENQzA3ux5buiSfq8H/d6mZSWpdJeckxa1UT4sBLRYBEoVh9e8uMLtHtrb/4OUEOsHaLTE61ar5dNoSv1gFfPlBPRkAhdiK3BcsBCsa3XBQ3AbQbuWFc5ZVg/Vo5DRR2G9YcN/1iN+Ss8hsXPxjdN7/xYSmKagv//R/ve6/eCMhgeu5ifF4orDfU4BG1fYOVU1IkuGpc9uQL3dRYeg3njg8jkDxgoGbDQdeG+VuEo8H2nXa622Zb8kwU1zAZvLvXH2O1/+3qmfXdk5Xiw8VbEZ//uy5e+fVFjR0ImRTYf6c9+BJLbqPPYdipnbLoelUp9/XFN9OpKN9Ood6FjOiV/NPbp0HC8wc5b4YTe9f80d+EA99QycNbL6CTXKMOsuz8dsUdQZySQUEovKzoo3Gu5mreOLux0CHR5nsZgOtfJ6s9W1T5ybO/yuVMU0SXjBhgSyiPsk+P3ZVy4/nxhhc8m0PsUi6CqBzcu3IcLQkLih2HUIUzU0rAI9PISWZf+pO3Bf+vXcV1bugctjIR+MeWAcP44X9vysZBYzJ89NbyuOfzOuaU9qmjaljSbiUnc57IEl7P6gZvftK61O+7fzZ77+Dk73v/biL6J/eeNFF2FDcBn7fwRy4uhRUxndCZGLZ00MDMfY4Sd/PFbcsTdL8UIglIl+t96/vHChUvl4voIRvXQaYvu+agb/mDdtfJdH/D7B/wDVo7wDgD/+4gAAAABJRU5ErkJggg==');
}
*/
